@using Blogifier.Core.Data
@inject IDataService DataService
@using Askmethat.Aspnet.JsonLocalizer.Localizer
@{
    ListModel listModel = (ListModel)Model;
    Pager pgr = listModel.Pager;
    string root = Url.Content("~/");
    string cover = $"{root}{listModel.Blog.Cover}";
    var catsUnordered = await DataService.BlogPosts.Categories();
    var cats = catsUnordered.OrderByDescending(c => c.PostCount);

    var posts = await DataService.BlogPosts.GetList(p => p.Published > DateTime.MinValue, new Pager(1));
    var flist = await DataService.BlogPosts.GetList(new Pager(1), 0, "", "F");
    var featured = flist.ToList();
    var popular = await DataService.BlogPosts.GetPopular(new Pager(1, 4));
}
@inject IJsonStringLocalizer<ListModel> Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Shared/HeaderScript.cshtml" />
</head>

<body>
    <partial name="~/Views/Themes/Main/Shared/Header.cshtml" />
    <!-- Home Start -->
    <section class="bg-half d-table w-100" style='background: center center url(@Url.Content("~/themes/main/images/home/bg-pages2.jpg"));'>
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h4 class="title">Blog about web development</h4>
                        <ul class="page-next bg-light d-inline-block py-2 px-4 mt-3 rounded mb-0">
                            <li>
                                <span class="text-primary">Home</span> 
                            </li> 
                        </ul>
                    </div>
                </div>  <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Home End -->
    <!-- Blog -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="row">
                        @if (listModel.Posts.Count() > 0)
                        {
                            @foreach (var post in listModel.Posts)
                            {
                            <div class="col-lg-12 col-12 mb-4 pb-2">
                                <div class="blog-post rounded shadow">
                                    <img src="~/@post.Cover.ToThumb()" onerror="this.onerror=null;this.src='@root@post.Cover';" alt="@post.Title" class="img-fluid rounded-top">
                                    <div class="content pt-4 pb-4 p-3">
                                        <ul class="list-unstyled d-flex justify-content-between post-meta">
                                            <li><i class="mdi mdi-calendar-edit mr-1"></i>@post.Published.ToFriendlyDateString()</li>
                                            <li><span><i class="mdi mdi-eye-outline mr-1" aria-hidden="true"></i> @post.PostViews</span>
                                                <span>
                                                        <i class="mdi mdi-comment-outline mr-1" aria-hidden="true"></i>
                                                        <a href="~/posts/@post.Slug#disqus_thread"></a>
                                                    </span></li>                
                                        </ul> 
                                        <h5 class="mb-3"><a href="posts/@post.Slug" class="title text-dark">@post.Title</a> </h5>
                                        <p class="mb-2">@Html.Raw(post.Description)</p>
                                        <ul class="list-unstyled mb-0 pt-3 border-top d-flex justify-content-between">
                                            <li><a href="~/posts/@post.Slug" class="text-dark">Read More <i data-feather="chevron-right" class="fea icon-sm"></i></a></li>
                                            <li>
                                            @if (!string.IsNullOrEmpty(post.Categories))
                                                {
                                                    foreach (var cat in post.Categories.Split(',').ToList())
                                                    {
                                                        <span class="mr-1"><i data-feather="tag" class="fea icon-sm mr-1"></i><a href="~/categories/@cat" class="text-dark">@cat</a></span>   
                                                    }
                                                } 
                                            </li>  
                                        </ul>
                                    </div><!--end content-->
                                </div><!--end blog post-->
                             </div><!--end col-->
                            }
                        } 
                        else 
                        {
                            <div class="container">
                                <div class="row justify-content-center">
                                    <h4>No posts found.</h4>
                                </div>
                            </div>
                        }
                        <!-- PAGINATION START -->
                        @if (pgr != null && (pgr.ShowOlder || pgr.ShowNewer))
                        {
                        <div class="col-12">                                
                            <ul class="pagination justify-content-center mb-0 list-unstyled">
                                @if (pgr.ShowOlder)
                                {
                                    <li><a href="@pgr.LinkToOlder" class="pr-3 pl-3 pt-2 pb-2"> Previous</a></li>
                                }
                                <li class="active"><span class="pr-3 pl-3 pt-2 pb-2">@pgr.CurrentPage</span></li>
                                    
                                @if (pgr.ShowNewer)
                                {
                                    <li><a class="pr-3 pl-3 pt-2 pb-2" href="@pgr.LinkToNewer">Next</a></li>
                                }
                            </ul>
                        </div>
                        }
                        <!-- PAGINATION END -->
                    </div><!--end row-->
                </div><!--end col-->

                <!-- START SIDEBAR -->
                <div class="col-lg-4 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="sidebar sticky-sidebar">
                        <!-- Author -->
                        <div class="widget">
                            <div class="p-4 rounded shadow">
                                <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">Author</h6>
                                <div class="text-center author mt-4">
                                        <a href="/resume"><img src="~/themes/main/images/home/ag.png" class="avatar avatar-md shadow border mx-auto rounded-circle" alt="" /></a>
                                    <div class="mt-4">
                                        <h6>Artur Gierałt</h6>
                                        <small>Fullstack developer</small>
                                        <ul class="list-unstyled social-icon social mt-4 mb-0">
                                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/gieraltartur/" target="_blank" rel="noopener noreferrer" class="rounded"><i class="mdi mdi-linkedin"></i></a></li>
                                            <li class="list-inline-item"><a href="mailto:&#97;&#103;&#119;&#101;&#98;&#100;&#101;&#118;&#46;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" class="rounded"><i class="mdi mdi-gmail"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Author -->

                        <!-- SEARCH -->
                        <div class="widget mt-4 pt-2">
                            <div class="p-4 rounded shadow">
                                <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">Search</h6>
                                <div id="search2" class="widget-search mt-4 mb-0">
                                    <form role="search" method="get" id="searchform" class="searchform" asp-controller="Blog" asp-action="Search" method="post">
                                        <div>
                                            <input type="text" class="border rounded" value="" id="term" name="term" placeholder="Search Keywords...">
                                            <input type="submit" id="searchsubmit" value="Search">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- SEARCH -->

                        <!-- TAG CLOUDS -->
                        <div class="widget mt-4 pt-2 text-center">
                            <div class="p-4 rounded shadow">
                                <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded">Tags Cloud</h6>
                                @if(cats.Any())
                                {
                                <div class="tagcloud mt-4">
                                    @foreach (var category in cats)
                                    {
                                         <a href="~/categories/@category.Category" class="rounded">@category.Category (@category.PostCount)</a>
                                    }
                                </div>
                                }
                            </div>
                        </div>
                        <!-- TAG CLOUDS -->
                    </div>
                </div><!--end col-->
                <!-- END SIDEBAR -->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- Blog -->
    <partial name="~/Views/Themes/Main/Shared/Footer.cshtml" />
</body>
</html>